DB_HOST=your-rds-endpoint.amazonaws.com
DB_NAME=todo_db
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_PORT=5432

AWS_REGION=your-aws-region
S3_BUCKET_NAME=your-s3-bucket-name

WORKER_URL=http://your-worker-private-ip:6000