[frontend]
frontend ansible_host=FRONTEND_PUBLIC_IP

[backend]
backend ansible_host=BACKEND_PRIVATE_IP

[worker]
worker ansible_host=WORKER_PRIVATE_IP

[backend:vars]
ansible_ssh_common_args='-o ProxyJump=ubuntu@FRONTEND_PUBLIC_IP'

[worker:vars]
ansible_ssh_common_args='-o ProxyJump=ubuntu@FRONTEND_PUBLIC_IP'

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/YOUR_KEY.pem
ansible_python_interpreter=/usr/bin/python3
