[frontend]
taskflow_frontend ansible_host=FRONTEND_PUBLIC_IP

[backend]
taskflow_backend ansible_host=BACKEND_PRIVATE_IP

[worker]
taskflow_worker ansible_host=WORKER_PRIVATE_IP

[backend:vars]
ansible_ssh_common_args='-o IdentitiesOnly=yes -o ProxyCommand="ssh -i /path/to/YOUR_KEY.pem -o IdentitiesOnly=yes -W %h:%p ubuntu@FRONTEND_PUBLIC_IP"'

[worker:vars]
ansible_ssh_common_args='-o IdentitiesOnly=yes -o ProxyCommand="ssh -i /path/to/YOUR_KEY.pem -o IdentitiesOnly=yes -W %h:%p ubuntu@FRONTEND_PUBLIC_IP"'

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=/path/to/YOUR_KEY.pem
ansible_python_interpreter=/usr/bin/python3
